@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./utilities.css";
@import "./animations.css";
@import "./responsive.css";

/* normalizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

/* general styles */

li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--main-dark);
}

/* header styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
header.nav-scrolling {
  background-color: var(--main-dark);
  transition-duration: 0.5s;
}
header li a {
  font-weight: 500;
}
i.burger-menu {
  font-size: 1.8em;
  display: none;
  color: white;
  cursor: pointer;
}
/* home styles */
section.home {
  background-image: url("../assets/img/1333781-suits-wallpaper-1920x1080-4k.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
div.sinopsis-content {
  max-width: 1200px;
}
div.bg-home-opacity {
  background-color: #212428bb;
}
p.brand-logo,
p.created-by {
  color: white;
  text-align: center;
}
p.brand-logo {
  font-weight: bolder;
  font-size: 8.5em;
}
p.created-by {
  font-weight: 500;
  letter-spacing: 8px;
  font-size: 1.7em;
}
div.home-line:first-of-type {
  margin-right: 10px;
}
div.home-line:last-of-type {
  margin-left: 17px;
}
div.home-line {
  width: 100%;
  height: 10px;
  background-color: var(--secondary-color);
}

/* sinpsis styles */
h2.title {
  font-weight: 600;
  letter-spacing: 2px;
}
div.title-subline {
  height: 4px;
  width: 80px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
div.sinopsis-content {
  margin-top: 50px;
  padding: 0px 50px;
}
.sinopsis-content img {
  max-width: 350px;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.sinopsis-content div {
  margin-left: 50px;
}
.sinopsis-content button.btn-classic {
  margin-top: 50px;
}

/* reparto styles */
div.reparto-content {
  margin-top: 100px;
  overflow: hidden;
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
}
div.slider-content {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

div.reparto-card {
  padding: 10px;
}
div.reparto-card img {
  object-fit: cover;
  height: 400px;
  border-radius: 5px;
  width: 100%;
  min-width: 310px;
  margin-bottom: 20px;
}
div.slider-back-btn,
div.slider-next-btn {
  position: absolute;
  z-index: 100;
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
div.slider-back-btn:hover,
div.slider-next-btn:hover {
  background-color: #a3020a;
  transition: 0.25s;
}
div.slider-next-btn {
  right: 100px;
}
div.slider-back-btn {
  transform: rotate(180deg);
  left: 100px;
}
/* styles criticas */
div.criticas-content {
  width: 80%;
  margin-top: 80px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
div.card-criticas {
  border-radius: 10px;
  min-height: 300px;
  margin: 10px;
  min-width: 290px;
  width: 33%;
  padding: 70px 5px;
  flex-grow: 1;
}
div.card-criticas img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
p.criticas-card-text {
  width: 80%;
  font-weight: regular;
  color: #dbdbdb;
}

/* styles datos */
div.datos-curiosos {
  margin-top: 80px;
  max-width: 800px;
}
div.datos-card {
  margin: 10px 0;
}
span.link {
  color: var(--secondary-color);
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
.datos-card p.number {
  font-size: 4em;
  font-weight: bolder;
  margin-right: 20px;
}
/* contact styles */

form {
  margin-top: 80px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 20px;
}
form button {
  margin-bottom: 5px;
  width: 80%;
}
.form-input:focus {
  outline: none;
}
.form-input {
  background-color: var(--secondary-dark);
  width: 80%;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  color: white;
}

/* iframe youtube */

div.youtube-frame {
  position: fixed;
  top: 0;
  z-index: 300;
  height: 100%;
  padding-top: 100px;
  background-color: #32373dad;
  width: 100%;
}
i.fa-xmark {
  font-size: 2em;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

/* footer */
footer img {
  width: 250px;
  border-radius: 10px;
  margin: 20px;
}
footer i {
  color: white;
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
}
footer i:hover {
  color: var(--secondary-color);
  transition: 0.25s;
}
